{{/* Página de Miras: incluye formulario (con selects) y lista */}}

{{define "miras"}}
<section>
  <div class="grid">
    <div>
      {{/* Formulario: usar HTMX para envíos parciales */}}
      {{template "mira_form" .}}
    </div>
    <div>
      {{/* Contenedor de la lista para HTMX */}}
      <div id="mira-list-container">
        {{template "mira_list" .}}
      </div>
    </div>
  </div>
</section>
{{end}}
