{{/* Página de Miras: incluye formulario (con selects) y lista */}}

{{define "miras"}}
<section>
  <div class="grid">
    <div>
      {{/* Contenedor del formulario para edición/creación; HTMX cargará aquí el form */}}
      <div id="mira-form-container">
        {{template "mira_form" .}}
      </div>
    </div>
    <div>
      {{/* Contenedor de la lista para HTMX */}}
      <div id="mira-list-container">
        {{template "mira_list" .}}
      </div>
    </div>
  </div>
</section>
{{end}}
