{{/* Página de Películas: incluye formulario y lista */}}

{{define "peliculas"}}
<section>
  <div class="grid">
    <div>
      {{template "pelicula_form" .}}
    </div>
    <div>
      {{template "pelicula_list" .}}
    </div>
  </div>
</section>
{{end}}
