{{/* Página de Películas: incluye formulario y lista */}}

{{define "peliculas"}}
<section>
  <div class="grid">
    <div>
      {{/* Contenedor del formulario para edición/creación; HTMX cargará aquí el form */}}
      <div id="pelicula-form-container">
        {{template "pelicula_form" .}}
      </div>
    </div>
    <div>
      {{/* La plantilla `pelicula_list` incluye su propio contenedor `#pelicula-list-container`
         para que las respuestas parciales de HTMX reemplacen el elemento con el mismo id
         y el selector permanezca válido tras los swaps. */}}
      {{template "pelicula_list" .}}
    </div>
  </div>
</section>
{{end}}
