{{/* Página de Usuarios: incluye formulario y lista */}}

{{define "usuarios"}}
<section>
  <div class="grid">
    <div>
      {{template "usuario_form" .}}
    </div>
    <div>
      {{template "usuario_list" .}}
    </div>
  </div>
</section>
{{end}}
