{{/* Página de Usuarios: incluye formulario y lista */}}

{{define "usuarios"}}
<section>
  <div class="grid">
    <div>
      {{/* Contenedor del formulario para edición/creación; HTMX cargará aquí el form */}}
      <div id="usuario-form-container">
        {{template "usuario_form" .}}
      </div>
    </div>
    <div>
      {{/* La plantilla `usuario_list` incluye su propio contenedor `#usuario-list-container` */}}
      {{template "usuario_list" .}}
    </div>
  </div>
</section>
{{end}}
