{{/* Página de Usuarios: incluye formulario y lista */}}

{{define "usuarios"}}
<section>
  <div class="grid">
    <div>
      {{/* Formulario: usar HTMX para envíos parciales */}}
      {{template "usuario_form" .}}
    </div>
    <div>
      {{/* Contenedor de la lista para HTMX */}}
      <div id="usuario-list-container">
        {{template "usuario_list" .}}
      </div>
    </div>
  </div>
</section>
{{end}}
